{% extends 'base.html.twig' %}


{% block content %} 
 <section class="MyTopics mt-[100px] ml-[50px]"> 
<div class="MainTopics">
<h2 class="text-[36px] color-[#495057]">{{MyTopics}}</h2>
</div>
</section>


<section class="FashionInfo mt-[800px]"> 
<div class="bg-cover bg-center h-149 flex flex-col justify-center items-center" style="background-image: url('{{ asset(ImageForFashion) }}');"> 
    <p class="text-white bg-white/21 mt-[30px] max-w-[125px] rounded-[13px] p-[11px] ml-[30px] pl-[18px] text-center">{{fashionOfText}}</p>
    <h1 class="text-white text-[36px] mt-[30px] max-w-[700px] ml-[30px] text-center">{{fashionOfTitle}}</h1>
    <p class="text-white text-[17px] max-w-[800px] text-center mt-[30px] relative after:content-[''] after:block after:w-[7%] after:h-[2px] after:bg-white after:mt-[20px] after:ml-[383px]">{{fashionOfParagraph}}</p>
    <p class="text-white mt-[30px] ml-[30px] text-center">{{ currentDate|date("d.m.Y") }}</p>

</div>
</section>


<section class="PopularTopics mt-[100px] ml-[50px]"> 

<h2 class="text-[36px] color-[#495057]">{{PopularTopics}}</h2>

</section>{% endblock %}





